{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- range .Params.reports }}
<article class="post-entry">
  <header class="entry-header">
    <h2>{{ .title }}</h2>
  </header>
  <div class="entry-content">
    <p>{{ .desc }}</p>
  </div>
  <footer class="entry-footer">
    <span>{{ time.Format site.Params.DateFormat .date }}</span>
  </footer>
  <a class="entry-link" aria-label="report link to {{ .title | plainify }}" href="{{ .url }}"></a>
</article>
{{- end }}

{{- end }}{{/* end main */}}
